<!--************************************
        Header Start
*************************************-->
<header id="tg-header" class="tg-header tg-fixedheader tg-headervone">
    <div class="container-fluid">
        <div class="row">
            <div class="tg-headercontent tg-headercontentdark">
                <strong class="tg-logo">
                    <a href="index.html">
                        <img class="tg-logoblack" src="images/logob00.png" alt="company logo here">
                        <img class="tg-logowhite" src="images/logo.png" alt="company logo here">
                        <img src="images/logob.png" alt="company logo here">
                    </a>
                </strong>
                <ul class="tg-socialicons">
                    <li><a href="javascript:void(0);(0);"><i class="icon-facebook-1"></i></a></li>
                    <li><a href="javascript:void(0);(0);"><i class="icon-twitter-1"></i></a></li>
                    <li><a href="javascript:void(0);(0);"><i class="icon-google4"></i></a></li>
                </ul>
                <nav id="tg-nav" class="tg-nav">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tg-navigation" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div id="tg-navigation" class="collapse navbar-collapse tg-navigation">
                        <ul>
                            <li class="menu-item-has-children current-menu-item">
                                <a href="javascript:void(0);(0);">Home</a>
                                <ul class="sub-menu">
                                    <li class="current-menu-item"><a href="index.html">Home Style 1</a></li>
                                    <li><a href="indexv2.html">Home Style 2</a></li>
                                    <li><a href="indexv3.html">Home Style 3</a></li>
                                    <li><a href="indexv4.html">Home Style 4</a></li>
                                    <li><a href="indexv5.html">Home Style 5</a></li>
                                    <li><a href="indexv6.html">Home Style 6</a></li>
                                    <li><a href="indexv7.html">Home Style 7</a></li>
                                    <li><a href="indexv8.html">Home Style 8</a></li>
                                    <li><a href="indexv9.html">Home Style 9</a></li>
                                    <li><a href="indexv10.html">Home Style 10</a></li>
                                    <li><a href="indexv11.html">Home Style 11</a></li>
                                    <li><a href="indexv12.html">Home Style 12</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="javascript:void(0);(0);">Pages</a>
                                <ul class="sub-menu">
                                    <li class="menu-item-has-children">
                                        <a href="javascript:void(0);(0);">About Us</a>
                                        <ul class="sub-menu">
                                            <li><a href="aboutus.html">About Us V1</a></li>
                                            <li><a href="aboutusv2.html">About Us V2</a></li>
                                            <li><a href="aboutusv3.html">About Us V3</a></li>
                                            <li><a href="aboutusv4.html">About Us V4</a></li>
                                            <li><a href="aboutusv5.html">About Us V5</a></li>
                                            <li><a href="aboutusv6.html">About Us V4</a></li>
                                            <li><a href="aboutusv7.html">About Us V5</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="javascript:void(0);(0);">Contact Us</a>
                                        <ul class="sub-menu">
                                            <li><a href="contactus.html">Contact Us v1</a></li>
                                            <li><a href="contactusv2.html">Contact Us v2</a></li>
                                            <li><a href="contactusv3.html">Contact Us v3</a></li>
                                            <li><a href="contactus4.html">Contact Us v4</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="ourservices.html">Services</a></li>
                                    <li><a href="cart.html">Cart</a></li>
                                    <li><a href="ourprocess.html">Our Process</a></li>
                                    <li><a href="404error.html">404 Error</a></li>
                                    <li><a href="maintenance.html">Maintenance</a></li>
                                    <li><a href="javascriptvoid:(0);">Comingsoon</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="javascript:void(0);(0);">awesome elements</a>
                            </li>
                            <li class="menu-item-has-children menu-item-has-mega-menu">
                                <a href="javascript:void(0);(0);">works</a>
                                <div class="mega-menu">
                                    <ul>
                                        <li>
                                            <div class="tg-linkstitle">
                                                <h2>Portfolio style</h2>
                                            </div>
                                            <ul>
                                                <li><a href="workv1.html">Portfolio Grid</a></li>
                                                <li><a href="workv2.html">Portfolio Masonry</a></li>
                                                <li><a href="workv3.html">Portfolio Metro</a></li>
                                                <li><a href="workv4.html">Portfolio Images</a></li>
                                                <li><a href="workv5.html">Portfolio Carousel</a></li>
                                                <li><a href="workv6.html">Portfolio BigText</a></li>
                                                <li><a href="workv7.html">Portfolio BigText</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <div class="tg-linkstitle">
                                                <h2>Portfolio style</h2>
                                            </div>
                                            <ul>
                                                <li><a href="workv1.html">Portfolio Grid</a></li>
                                                <li><a href="workv2.html">Portfolio Masonry</a></li>
                                                <li><a href="workv3.html">Portfolio Metro</a></li>
                                                <li><a href="workv4.html">Portfolio Images</a></li>
                                                <li><a href="workv5.html">Portfolio Carousel</a></li>
                                                <li><a href="workv6.html">Portfolio BigText</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <div class="tg-linkstitle">
                                                <h2>Portfolio style</h2>
                                            </div>
                                            <ul>
                                                <li><a href="workv1.html">Portfolio Grid</a></li>
                                                <li><a href="workv2.html">Portfolio Masonry</a></li>
                                                <li><a href="workv3.html">Portfolio Metro</a></li>
                                                <li><a href="workv4.html">Portfolio Images</a></li>
                                                <li><a href="workv5.html">Portfolio Carousel</a></li>
                                                <li><a href="workv6.html">Portfolio BigText</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <div class="tg-linkstitle">
                                                <h2>Portfolio style</h2>
                                            </div>
                                            <ul>
                                                <li><a href="workv1.html">Portfolio Grid</a></li>
                                                <li><a href="workv2.html">Portfolio Masonry</a></li>
                                                <li><a href="workv3.html">Portfolio Metro</a></li>
                                                <li><a href="workv4.html">Portfolio Images</a></li>
                                                <li><a href="workv5.html">Portfolio Carousel</a></li>
                                                <li><a href="workv6.html">Portfolio BigText</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="javascript:void(0);(0);">blog</a>
                                <ul class="sub-menu">
                                    <li class="menu-item-has-children">
                                        <a href="javascript:void(0);(0);">Blog Style</a>
                                        <ul class="sub-menu">
                                            <li><a href="blogv1.html">Blog Style 1</a></li>
                                            <li><a href="blogv2.html">Blog Style 2</a></li>
                                            <li><a href="blogv3.html">Blog Style 3</a></li>
                                            <li><a href="blogv4.html">Blog Style 4</a></li>
                                            <li><a href="blogv5.html">Blog Style 5</a></li>
                                            <li><a href="blogv6.html">Blog Style 6</a></li>
                                            <li><a href="blogv7.html">Blog Style 7</a></li>
                                            <li><a href="blogv8.html">Blog Style 8</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="blogv1.html">Blog Detail</a>
                                        <ul class="sub-menu">
                                            <li><a href="blogdetail.html">Blog Detail v1</a></li>
                                            <li><a href="blogdetailv2.html">Blog Detail v2</a></li>
                                            <li><a href="blogdetailv3.html">Blog Detail v3</a></li>
                                            <li><a href="blogdetailv4.html">Blog Detail v4</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="shopdetail.html">shop</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!--************************************
        Header End
*************************************-->