{% load staticfiles %}

<!--************************************
        Client Feedback Start
*************************************-->
<section class="tg-haslayout" data-z-index="2" data-appear-top-offset="600" data-parallax="scroll" data-image-src="images/parallax/bgparallax-04.jpg">
    <div class="tg-sectionspace tg-parallax tg-parallaxclientfeedback">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="tg-sectionhead tg-sectionheadvtwo">
                        <div class="tg-sectiontitle">
                            <h2>Clients Feedback</h2>
                        </div>
                    </div>
                    <div id="tg-clientfeedbackslider" class="tg-clientfeedbackslider owl-carousel tg-clientfeedbacks">
                        <div class="item tg-clientfeedback">
                            <div class="tg-box">
                                <h3>Great Support</h3>
                                <div class="tg-description">
                                    <p>Lorem ipsum dolor sit amet, eu per legimus referrentur. Ius ne viris repudiare, nominavi sententiae eos in. Et duo salutatus consequat Lorem ipsum dolor
                                        sit amet.</p>
                                </div>
                            </div>
                            <div class="tg-clientinfo">
                                <figure><img src="{% static 'images/allhome/1/img-05.jpg' %}" alt="image description"></figure>
                                <div class="tg-namedesignation">
                                    <h3>John Doe</h3>
                                    <h4>Manager at GreenTech</h4>
                                </div>
                            </div>
                        </div>
                        <div class="item tg-clientfeedback">
                            <div class="tg-box">
                                <h3>Great Support</h3>
                                <div class="tg-description">
                                    <p>Lorem ipsum dolor sit amet, eu per legimus referrentur. Ius ne viris repudiare, nominavi sententiae eos in. Et duo salutatus consequat Lorem ipsum dolor
                                        sit amet.</p>
                                </div>
                            </div>
                            <div class="tg-clientinfo">
                                <figure><img src="{% static 'images/allhome/1/img-06.jpg' %}" alt="image description"></figure>
                                <div class="tg-namedesignation">
                                    <h3>John Doe</h3>
                                    <h4>Manager at GreenTech</h4>
                                </div>
                            </div>
                        </div>
                        <div class="item tg-clientfeedback">
                            <div class="tg-box">
                                <h3>Great Support</h3>
                                <div class="tg-description">
                                    <p>Lorem ipsum dolor sit amet, eu per legimus referrentur. Ius ne viris repudiare, nominavi sententiae eos in. Et duo salutatus consequat Lorem ipsum dolor
                                        sit amet.</p>
                                </div>
                            </div>
                            <div class="tg-clientinfo">
                                <figure><img src="{% static 'images/allhome/1/img-07.jpg' %}" alt="image description"></figure>
                                <div class="tg-namedesignation">
                                    <h3>John Doe</h3>
                                    <h4>Manager at GreenTech</h4>
                                </div>
                            </div>
                        </div>
                        <div class="item tg-clientfeedback">
                            <div class="tg-box">
                                <h3>Great Support</h3>
                                <div class="tg-description">
                                    <p>Lorem ipsum dolor sit amet, eu per legimus referrentur. Ius ne viris repudiare, nominavi sententiae eos in. Et duo salutatus consequat Lorem ipsum dolor
                                        sit amet.</p>
                                </div>
                            </div>
                            <div class="tg-clientinfo">
                                <figure><img src="{% static 'images/allhome/1/img-08.jpg' %}" alt="image description"></figure>
                                <div class="tg-namedesignation">
                                    <h3>John Doe</h3>
                                    <h4>Manager at GreenTech</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--************************************
        Client Feedback End
*************************************-->