{% load staticfiles %}

<!--************************************
        Creative Team Start
*************************************-->
<section class="tg-sectionspace tg-haslayout">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-md-12 col-lg-push-2 col-lg-8">
                <div class="tg-sectionhead tg-sectionheadvtwo">
                    <div class="tg-sectiontitle">
                        <h2>A Creative Agency</h2>
                    </div>
                    <div class="tg-description">
                        <p>Mauris in rutrum nunc. Aenean in lectus id mi sollicitudin placerat Sed porta <a href="javascript:void(0);(0);">All Members</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-sm-12 col-md-12 col-lg-12">
                <div id="tg-teammembersslider" class="tg-teammembersslider owl-carousel tg-teammembers">
                    <div class="item tg-teammember">
                        <figure><img src="{% static 'images/allhome/1/img-03.jpg' %}" alt="images description"></figure>
                        <div class="tg-membercontent">
                            <div class="tg-title">
                                <h3><span>Senior Designer</span>Bradley Johns</h3>
                            </div>
                            <div class="tg-description">
                                <p>Lorem ipsum dolor sit amet, eu per legimus referrentur. Ius ne viris repudiare, nominavi sententiae eos in. Et duo salutatus consequat, Lorem ipsum dolor sit
                                    amet, eu per legimus referrentur. Ius ne viris repudiare, nominavi sententiae.</p>
                                <p>Et duo salutatus consequat, et epicurei euripidis mei dolor sit amet, consectetuer.</p>
                            </div>
                            <div class="tg-memberskills">
                                <div class="tg-memberskill">
                                    <span>Web Design</span>
                                    <div class="tg-skillholder" data-percent="92%">
                                        <div class="tg-skillbar"><span>92%</span></div>
                                    </div>
                                </div>
                                <div class="tg-memberskill">
                                    <span>Mobile Application</span>
                                    <div class="tg-skillholder" data-percent="80%">
                                        <div class="tg-skillbar"><span>80%</span></div>
                                    </div>
                                </div>
                            </div>
                            <ul class="tg-socialicons">
                                <li class="tg-facebook"><a href="javascript:void(0);(0);"><i class="icon-facebook-1"></i></a></li>
                                <li class="tg-twitter"><a href="javascript:void(0);(0);"><i class="icon-twitter-1"></i></a></li>
                                <li class="tg-dribbble"><a href="javascript:void(0);(0);"><i class="icon-dribbble-social-outlined-symbol"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="item tg-teammember">
                        <figure><img src="{% static 'images/allhome/1/img-10.jpg' %}" alt="images description"></figure>
                        <div class="tg-membercontent">
                            <div class="tg-title">
                                <h3><span>Senior Designer</span>Bradley Johns</h3>
                            </div>
                            <div class="tg-description">
                                <p>Lorem ipsum dolor sit amet, eu per legimus referrentur. Ius ne viris repudiare, nominavi sententiae eos in. Et duo salutatus consequat, Lorem ipsum dolor sit
                                    amet, eu per legimus referrentur. Ius ne viris repudiare, nominavi sententiae.</p>
                                <p>Et duo salutatus consequat, et epicurei euripidis mei dolor sit amet, consectetuer.</p>
                            </div>
                            <div class="tg-memberskills">
                                <div class="tg-memberskill">
                                    <span>Web Design</span>
                                    <div class="tg-skillholder" data-percent="92%">
                                        <div class="tg-skillbar"><span>92%</span></div>
                                    </div>
                                </div>
                                <div class="tg-memberskill">
                                    <span>Mobile Application</span>
                                    <div class="tg-skillholder" data-percent="80%">
                                        <div class="tg-skillbar"><span>80%</span></div>
                                    </div>
                                </div>
                            </div>
                            <ul class="tg-socialicons">
                                <li><a href="javascript:void(0);(0);"><i class="icon-facebook-1"></i></a></li>
                                <li><a href="javascript:void(0);(0);"><i class="icon-twitter-1"></i></a></li>
                                <li><a href="javascript:void(0);(0);"><i class="icon-dribbble-social-outlined-symbol"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="item tg-teammember">
                        <figure><img src="{% static 'images/allhome/1/img-11.jpg' %}" alt="images description"></figure>
                        <div class="tg-membercontent">
                            <div class="tg-title">
                                <h3><span>Senior Designer</span>Bradley Johns</h3>
                            </div>
                            <div class="tg-description">
                                <p>Lorem ipsum dolor sit amet, eu per legimus referrentur. Ius ne viris repudiare, nominavi sententiae eos in. Et duo salutatus consequat, Lorem ipsum dolor sit
                                    amet, eu per legimus referrentur. Ius ne viris repudiare, nominavi sententiae.</p>
                                <p>Et duo salutatus consequat, et epicurei euripidis mei dolor sit amet, consectetuer.</p>
                            </div>
                            <div class="tg-memberskills">
                                <div class="tg-memberskill">
                                    <span>Web Design</span>
                                    <div class="tg-skillholder" data-percent="92%">
                                        <div class="tg-skillbar"><span>92%</span></div>
                                    </div>
                                </div>
                                <div class="tg-memberskill">
                                    <span>Mobile Application</span>
                                    <div class="tg-skillholder" data-percent="80%">
                                        <div class="tg-skillbar"><span>80%</span></div>
                                    </div>
                                </div>
                            </div>
                            <ul class="tg-socialicons">
                                <li><a href="javascript:void(0);(0);"><i class="icon-facebook-1"></i></a></li>
                                <li><a href="javascript:void(0);(0);"><i class="icon-twitter-1"></i></a></li>
                                <li><a href="javascript:void(0);(0);"><i class="icon-dribbble-social-outlined-symbol"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="item tg-teammember">
                        <figure><img src="{% static 'images/allhome/1/img-12.jpg' %}" alt="images description"></figure>
                        <div class="tg-membercontent">
                            <div class="tg-title">
                                <h3><span>Senior Designer</span>Bradley Johns</h3>
                            </div>
                            <div class="tg-description">
                                <p>Lorem ipsum dolor sit amet, eu per legimus referrentur. Ius ne viris repudiare, nominavi sententiae eos in. Et duo salutatus consequat, Lorem ipsum dolor sit
                                    amet, eu per legimus referrentur. Ius ne viris repudiare, nominavi sententiae.</p>
                                <p>Et duo salutatus consequat, et epicurei euripidis mei dolor sit amet, consectetuer.</p>
                            </div>
                            <div class="tg-memberskills">
                                <div class="tg-memberskill">
                                    <span>Web Design</span>
                                    <div class="tg-skillholder" data-percent="92%">
                                        <div class="tg-skillbar"><span>92%</span></div>
                                    </div>
                                </div>
                                <div class="tg-memberskill">
                                    <span>Mobile Application</span>
                                    <div class="tg-skillholder" data-percent="80%">
                                        <div class="tg-skillbar"><span>80%</span></div>
                                    </div>
                                </div>
                            </div>
                            <ul class="tg-socialicons">
                                <li><a href="javascript:void(0);(0);"><i class="icon-facebook-1"></i></a></li>
                                <li><a href="javascript:void(0);(0);"><i class="icon-twitter-1"></i></a></li>
                                <li><a href="javascript:void(0);(0);"><i class="icon-dribbble-social-outlined-symbol"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="tg-teamthumbnailslider" class="tg-teamthumbnailslider owl-carousel tg-teammembersthumbnail">
                    <div class="item">
                        <figure><img src="{% static 'images/allhome/1/img-04.jpg' %}" alt="images description"></figure>
                    </div>
                    <div class="item">
                        <figure><img src="{% static 'images/allhome/1/img-10-1.jpg' %}" alt="images description"></figure>
                    </div>
                    <div class="item">
                        <figure><img src="{% static 'images/allhome/1/img-11-1.jpg' %}" alt="images description"></figure>
                    </div>
                    <div class="item">
                        <figure><img src="{% static 'images/allhome/1/img-12-1.jpg' %}" alt="images description"></figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--************************************
        Creative Team End
*************************************-->