{% load staticfiles %}

<!--************************************
        A Creative Agency Start
*************************************-->
<section class="tg-sectionspace tg-haslayout tg-paddingbottomzero">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-push-2 col-lg-8">
                <div class="tg-sectionhead tg-sectionheadvtwo">
                    <div class="tg-sectiontitle">
                        <h2>A Creative Agency</h2>
                    </div>
                    <div class="tg-description">
                        <p>Mauris in rutrum nunc. Aenean in lectus id mi sollicitudin placerat. Sed porta ac libero eget maximus. Donec dictum, sem quis ullamcorper porta,</p>
                    </div>
                </div>
            </div>
            <div class="tg-features">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="tg-feature">
                        <figure><a href="javascript:void(0);(0);"><img src="{% static 'images/allhome/1/img-01.jpg' %}" alt="image description"></a></figure>
                        <div class="tg-featurecontent">
                            <div class="tg-title tg-titlevone">
                                <span class="tg-count">01</span>
                                <h3><span>Easy-to-Use</span>Company Analysis</h3>
                            </div>
                            <div class="tg-description">
                                <p>Lorem ipsum dolor sit amet, eu per legimus referrentur. Ius ne viris repudiare, nominavi sententiae eos in. Et duo salutatus consequat, et epicurei euripidis
                                    mei dolor sit amet, consectetuer adipiscing elit.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="tg-feature">
                        <figure><a href="javascript:void(0);(0);"><img src="{% static 'images/allhome/1/img-02.jpg' %}" alt="image description"></a></figure>
                        <div class="tg-featurecontent">
                            <div class="tg-title tg-titlevone">
                                <span class="tg-count">02</span>
                                <h3><span>Easy-to-Use</span>Discover What’s Possible</h3>
                            </div>
                            <div class="tg-description">
                                <p>Lorem ipsum dolor sit amet, eu per legimus referrentur. Ius ne viris repudiare, nominavi sententiae eos in. Et duo salutatus consequat, et epicurei euripidis
                                    mei dolor sit amet, consectetuer adipiscing elit.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--************************************
        A Creative Agency End
*************************************-->