<!--************************************
        Our Main Goal Start
*************************************-->
<section class="tg-haslayout" data-z-index="2" data-appear-top-offset="600" data-parallax="scroll" data-image-src="images/parallax/bgparallax-03.jpg">
    <div class="tg-sectionspace tg-parallax tg-parallaxmaingoal">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-md-5 col-lg-5 pull-right">
                    <div class="tg-maingoal">
                        <div class="tg-title tg-titlevone">
                            <h3><span>Our Main Goal -</span>The Best Theme for Your Business Agency</h3>
                        </div>
                        <div class="tg-btnbox">
                            <a class="tg-btnplay" href="https://www.youtube.com/watch?v=2Fca03P-Vxg" data-rel="prettyPhoto[video]"><i class="icon-play3"></i></a>
                            <span>Watch intro video About Theme</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--************************************
        Our Main Goal End
*************************************-->