{% load staticfiles %}

<!--************************************
        News & Update Start
*************************************-->
<section class="tg-haslayout" data-z-index="2" data-appear-top-offset="600" data-parallax="scroll" data-image-src="{% static 'images/parallax/bgparallax-12.jpg' %}">
    <div class="tg-sectionspace tg-parallax tg-parallaxnewsupdate">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="tg-newsupdates">
                        <div class="tg-sectionhead tg-sectionheadvtwo">
                            <div class="tg-sectiontitle">
                                <h2>News &amp; Updates</h2>
                            </div>
                            <div class="tg-description">
                                <p>We are Talented People Our goal is to always provide an exceptional level of service.</p>
                            </div>
                        </div>
                        <h3><span>215</span>Total News Feeds</h3>
                        <a class="tg-btnviewallpost" href="javascript:void(0);(0);">view all post</a>
                    </div>
                </div>
                <div class="col-lg-12 col-sm-12 col-md-8 col-lg-8">
                    <div id="tg-postsslider" class="tg-postsslider owl-carousel tg-posts">
                        <div class="item">
                            <article class="tg-post">
                                <div class="tg-posttitle">
                                    <h3><a href="javascript:void(0);">10 Multipurpose Creative Themes for Business Agency</a></h3>
                                </div>
                                <div class="tg-description">
                                    <p>Lorem ipsum dolor sit amet, eu per legimus referrentur. Ius ne viris repudiare, nominavi sententiae eos dolor sit amet.</p>
                                </div>
                                <ul class="tg-postmetadata">
                                    <li>
                                        <figure><a href="javascript:void(0);(0);"><img src="{% static 'images/allhome/1/img-09.jpg' %}" alt="image description"></a></figure>
                                        <span>By <a href="javascript:void(0);(0);">Haley</a></span>
                                    </li>
                                    <li>
                                        <time datetime="2017-07-07">25 Sep 2016</time>
                                    </li>
                                </ul>
                            </article>
                        </div>
                        <div class="item">
                            <article class="tg-post">
                                <div class="tg-posttitle">
                                    <h3><a href="javascript:void(0);">10 Multipurpose Creative Themes for Business Agency</a></h3>
                                </div>
                                <div class="tg-description">
                                    <p>Lorem ipsum dolor sit amet, eu per legimus referrentur. Ius ne viris repudiare, nominavi sententiae eos dolor sit amet.</p>
                                </div>
                                <ul class="tg-postmetadata">
                                    <li>
                                        <figure><a href="javascript:void(0);(0);"><img src="{% static 'images/allhome/1/img-09.jpg' %}" alt="image description"></a></figure>
                                        <span>By <a href="javascript:void(0);(0);">Haley</a></span>
                                    </li>
                                    <li>
                                        <time datetime="2017-07-07">25 Sep 2016</time>
                                    </li>
                                </ul>
                            </article>
                        </div>
                        <div class="item">
                            <article class="tg-post">
                                <div class="tg-posttitle">
                                    <h3><a href="javascript:void(0);">10 Multipurpose Creative Themes for Business Agency</a></h3>
                                </div>
                                <div class="tg-description">
                                    <p>Lorem ipsum dolor sit amet, eu per legimus referrentur. Ius ne viris repudiare, nominavi sententiae eos dolor sit amet.</p>
                                </div>
                                <ul class="tg-postmetadata">
                                    <li>
                                        <figure><a href="javascript:void(0);(0);"><img src="{% static 'images/allhome/1/img-09.jpg' %}" alt="image description"></a></figure>
                                        <span>By <a href="javascript:void(0);(0);">Haley</a></span>
                                    </li>
                                    <li>
                                        <time datetime="2017-07-07">25 Sep 2016</time>
                                    </li>
                                </ul>
                            </article>
                        </div>
                        <div class="item">
                            <article class="tg-post">
                                <div class="tg-posttitle">
                                    <h3><a href="javascript:void(0);">10 Multipurpose Creative Themes for Business Agency</a></h3>
                                </div>
                                <div class="tg-description">
                                    <p>Lorem ipsum dolor sit amet, eu per legimus referrentur. Ius ne viris repudiare, nominavi sententiae eos dolor sit amet.</p>
                                </div>
                                <ul class="tg-postmetadata">
                                    <li>
                                        <figure><a href="javascript:void(0);(0);"><img src="{% static 'images/allhome/1/img-09.jpg' %}" alt="image description"></a></figure>
                                        <span>By <a href="javascript:void(0);(0);">Haley</a></span>
                                    </li>
                                    <li>
                                        <time datetime="2017-07-07">25 Sep 2016</time>
                                    </li>
                                </ul>
                            </article>
                        </div>
                        <div class="item">
                            <article class="tg-post">
                                <div class="tg-posttitle">
                                    <h3><a href="javascript:void(0);">10 Multipurpose Creative Themes for Business Agency</a></h3>
                                </div>
                                <div class="tg-description">
                                    <p>Lorem ipsum dolor sit amet, eu per legimus referrentur. Ius ne viris repudiare, nominavi sententiae eos dolor sit amet.</p>
                                </div>
                                <ul class="tg-postmetadata">
                                    <li>
                                        <figure><a href="javascript:void(0);(0);"><img src="{% static 'images/allhome/1/img-09.jpg' %}" alt="image description"></a></figure>
                                        <span>By <a href="javascript:void(0);(0);">Haley</a></span>
                                    </li>
                                    <li>
                                        <time datetime="2017-07-07">25 Sep 2016</time>
                                    </li>
                                </ul>
                            </article>
                        </div>
                        <div class="item">
                            <article class="tg-post">
                                <div class="tg-posttitle">
                                    <h3><a href="javascript:void(0);">10 Multipurpose Creative Themes for Business Agency</a></h3>
                                </div>
                                <div class="tg-description">
                                    <p>Lorem ipsum dolor sit amet, eu per legimus referrentur. Ius ne viris repudiare, nominavi sententiae eos dolor sit amet.</p>
                                </div>
                                <ul class="tg-postmetadata">
                                    <li>
                                        <figure><a href="javascript:void(0);(0);"><img src="{% static 'images/allhome/1/img-09.jpg' %}" alt="image description"></a></figure>
                                        <span>By <a href="javascript:void(0);(0);">Haley</a></span>
                                    </li>
                                    <li>
                                        <time datetime="2017-07-07">25 Sep 2016</time>
                                    </li>
                                </ul>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--************************************
        News & Update End
*************************************-->