{% load staticfiles %}

<!--************************************
        Portfolio Start
*************************************-->
<section class="tg-haslayout tg-sectionspace tg-paddingbottomzero">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-push-2 col-lg-8">
                <div class="tg-sectionhead tg-sectionheadvtwo">
                    <div class="tg-sectiontitle">
                        <h2>Selected Works</h2>
                    </div>
                    <div class="tg-description">
                        <p>Mauris in rutrum nunc. Aenean in lectus id mi sollicitudin placerat. Sed porta ac libero eget maximus. Donec dictum, sem quis ullamcorper porta,</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="tg-galleryfilterable" class="tg-galleryfilterable">
        <div class="tg-portfolioitem tg-widthquarter">
            <figure>
                <a href="workdetailv1.html">
                    <img src="{% static 'images/portfolio/1/img-01.jpg' %}" alt="image description">
                    <div class="tg-portfoliohover">
                        <h2><span>project title</span></h2>
                        <h3><span>website</span></h3>
                    </div>
                </a>
            </figure>
        </div>
        <div class="tg-portfolioitem tg-widthquarter">
            <figure>
                <a href="workdetailv2.html"><img src="{% static 'images/portfolio/1/img-02.jpg' %}" alt="image description">
                    <div class="tg-portfoliohover">
                        <h2><span>project title</span></h2>
                        <h3><span>website</span></h3>
                    </div>
                </a>
            </figure>
        </div>
        <div class="tg-portfolioitem tg-widthquarter">
            <figure>
                <a href="workdetailv3.html"><img src="{% static 'images/portfolio/1/img-03.jpg' %}" alt="image description">
                    <div class="tg-portfoliohover">
                        <h2><span>project title</span></h2>
                        <h3><span>website</span></h3>
                    </div>
                </a>
            </figure>
        </div>
        <div class="tg-portfolioitem  tg-widthhalf">
            <figure>
                <a href="workdetailv4.html"><img src="{% static 'images/portfolio/1/img-05.jpg' %}" alt="image description">
                    <div class="tg-portfoliohover">
                        <h2><span>project title</span></h2>
                        <h3><span>website</span></h3>
                    </div>
                </a>
            </figure>
        </div>
        <div class="tg-portfolioitem tg-widthquarter">
            <figure>
                <a href="workdetailv5.html"><img src="{% static 'images/portfolio/1/img-04.jpg' %}" alt="image description">
                    <div class="tg-portfoliohover">
                        <h2><span>project title</span></h2>
                        <h3><span>website</span></h3>
                    </div>
                </a>
            </figure>
        </div>
    </div>
    <ul class="tg-statistics">
        <li>
            <h3 data-from="0" data-to="58" data-speed="8000" data-refresh-interval="50">58</h3>
            <h4>Awards winning</h4>
        </li>
        <li>
            <h3 data-from="0" data-to="206" data-speed="8000" data-refresh-interval="50">206</h3>
            <h4>Projects finish</h4>
        </li>
        <li>
            <h3 data-from="0" data-to="9568" data-speed="8000" data-refresh-interval="50">9568</h3>
            <h4>Lines of Code</h4>
        </li>
        <li>
            <h3 data-from="0" data-to="58" data-speed="8000" data-refresh-interval="50">58</h3>
            <h4>Awards winning</h4>
        </li>
    </ul>
</section>
<!--************************************
        Portfolio End
*************************************-->