<!--************************************
        Services V One Start
*************************************-->
<section class="tg-sectionspace tg-haslayout">
    <div class="container">
        <div class="row">
            <div class="tg-services tg-servicesvone">
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                    <div class="tg-service">
                        <span class="tg-serviceicon"><i class="icon-lightbulb"></i></span>
                        <div class="tg-servicetitle">
                            <h3><a href="javascript:void(0);(0);">Designing Department</a></h3>
                        </div>
                        <div class="tg-description">
                            <p>Lorem ipsum dolor sit amet, eu per legimus referrentur. Ius ne viris repudiare, nominavi sententiae eos in. Et duo salutatus consequat.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                    <div class="tg-service">
                        <span class="tg-serviceicon"><i class="icon-beaker"></i></span>
                        <div class="tg-servicetitle">
                            <h3><a href="javascript:void(0);(0);">Designing Department</a></h3>
                        </div>
                        <div class="tg-description">
                            <p>Lorem ipsum dolor sit amet, eu per legimus referrentur. Ius ne viris repudiare, nominavi sententiae eos in. Et duo salutatus consequat.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                    <div class="tg-service">
                        <span class="tg-serviceicon tg-serviceicontargetarrow"><i class="icon-target-arrow"></i></span>
                        <div class="tg-servicetitle">
                            <h3><a href="javascript:void(0);(0);">Designing Department</a></h3>
                        </div>
                        <div class="tg-description">
                            <p>Lorem ipsum dolor sit amet, eu per legimus referrentur. Ius ne viris repudiare, nominavi sententiae eos in. Et duo salutatus consequat.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                    <div class="tg-service">
                        <span class="tg-serviceicon"><i class="icon-mobile3"></i></span>
                        <div class="tg-servicetitle">
                            <h3><a href="javascript:void(0);(0);">Designing Department</a></h3>
                        </div>
                        <div class="tg-description">
                            <p>Lorem ipsum dolor sit amet, eu per legimus referrentur. Ius ne viris repudiare, nominavi sententiae eos in. Et duo salutatus consequat.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                    <div class="tg-service">
                        <span class="tg-serviceicon"><i class="icon-tools"></i></span>
                        <div class="tg-servicetitle">
                            <h3><a href="javascript:void(0);(0);">Designing Department</a></h3>
                        </div>
                        <div class="tg-description">
                            <p>Lorem ipsum dolor sit amet, eu per legimus referrentur. Ius ne viris repudiare, nominavi sententiae eos in. Et duo salutatus consequat.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                    <div class="tg-service">
                        <span class="tg-serviceicon"><i class="icon-alarmclock"></i></span>
                        <div class="tg-servicetitle">
                            <h3><a href="javascript:void(0);(0);">Designing Department</a></h3>
                        </div>
                        <div class="tg-description">
                            <p>Lorem ipsum dolor sit amet, eu per legimus referrentur. Ius ne viris repudiare, nominavi sententiae eos in. Et duo salutatus consequat.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--************************************
        Services V One End
*************************************-->