{% load staticfiles %}

<!--************************************
        Home Slider Start
*************************************-->
<div id="tg-homeslidervone" class="tg-homeslider royalSlider rsMinW tg-homeslidervone">
    <figure class="rsContent">
        <img class="rsImg" src="{% static 'images/slider/img-01.jpg' %}" alt="image description">
        <figcaption class="bContainer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="tg-slidercontent">
                            <h1 class="rsABlock txtCent" data-speed="1000" data-move-offset="500" data-move-effect="bottom">We’re Focused<span>on Digital Products</span></h1>
                            <div class="rsABlock txtCent tg-description" data-speed="1000" data-move-offset="600" data-move-effect="bottom">
                                <p>A Totally New Way to Grow your Business We Bring you an Awesome of Design Creative Skills,</p>
                            </div>
                            <div class="rsABlock txtCent tg-btns" data-speed="1000" data-move-offset="700" data-move-effect="bottom">
                                <a class="tg-btn" href="javascript:void(0);(0);"><span>buy vation</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </figcaption>
    </figure>
    <figure class="rsContent">
        <img class="rsImg" src="{% static 'images/slider/img-02.jpg' %}" alt="image description">
        <figcaption class="bContainer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="tg-slidercontent">
                            <h1 class="rsABlock txtCent" data-speed="900" data-move-offset="100" data-move-effect="top">We’re Focused<span>on Digital Products</span></h1>
                            <div class="rsABlock txtCent tg-description" data-speed="1000" data-move-offset="400" data-move-effect="right">
                                <p>A Totally New Way to Grow your Business We Bring you an Awesome of Design Creative Skills,</p>
                            </div>
                            <div class="rsABlock txtCent tg-btns" data-speed="1200" data-move-offset="500" data-move-effect="bottom">
                                <a class="tg-btn" href="javascript:void(0);(0);"><span>buy vation</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </figcaption>
    </figure>
    <figure class="rsContent tg-darkcontent slide-dark">
        <img class="rsImg" src="{% static 'images/slider/img-03.jpg' %}" alt="image description">
        <figcaption class="bContainer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="tg-slidercontent">
                            <h1 class="rsABlock txtCent" data-speed="900" data-move-offset="200" data-move-effect="left">We’re Focused<span>on Digital Products</span></h1>
                            <div class="rsABlock txtCent tg-description" data-speed="1000" data-move-offset="300" data-move-effect="right">
                                <p>A Totally New Way to Grow your Business We Bring you an Awesome of Design Creative Skills,</p>
                            </div>
                            <div class="rsABlock txtCent tg-btns" data-speed="1000" data-move-offset="400" data-move-effect="bottom">
                                <a class="tg-btn" href="javascript:void(0);(0);"><span>buy vation</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </figcaption>
    </figure>
</div>
<!--************************************
        Home Slider End
*************************************-->